---
import HeroText from './HeroText.astro';
import HeroTerminal from './HeroTerminal.astro';
---
<section class="hero">
  <div class="hero-content">
    <HeroText />
    <HeroTerminal />
  </div>
</section>
